input, textarea {
    width: 100%;
	font-size: 1rem;
	padding: .5rem;
	@include sagona;
	border: 2px solid $lightgray;
	border-radius: 4px;
    max-width: 100%;
    margin: 0 0 1rem 0;
	&:focus {
		border: 2px solid $yellow;
		// outline: none;
	}
}

label {
    font-weight: bold;
    display: block;
}

.nf-error .ninja-forms-field {
	border: 2px solid red!important;
}


input[type=button], input[type=submit], button {
    transition: all .3s ease;
    background: #fff;
    border: 2px solid $lightgray;
    color: $darkgray;
    border-radius: 4px;
    padding: .6em;
    font-size: .8em;
    &:hover {
    	cursor: pointer;
    	background-color: $yellow;
    }
}

aside form#searchform div {
    @include flexy(nowrap, space-between, stretch, stretch);
    input:first-of-type {
        flex: 3 0 80%;
    }
    #searchsubmit {
        margin-left: .5rem;
        flex: 1 1 100%;
    }
}